<div class="sidebar d-flex flex-column flex-shrink-0 bg-white" style="width: 4.5rem;height: 100%;position: fixed;">
  <a href="/" class="d-block p-3 link-dark text-decoration-none text-center" style="font-size: 25px;color:#007D88 !important;">
    <fa-icon [icon]="['fas', 'hands-helping']" style="size: 5rem;"></fa-icon>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    
    <li class="nav-item"  pTooltip="Dashboard" *ngIf="enableSideBar('dashboard')" >
      <a href="#" class="nav-link" routerLink="/dashboard" routerLinkActive="active"   aria-current="page">
        <fa-icon [icon]="['fas', 'tachometer-alt']" style="size: 1.5rem;"></fa-icon>
      </a>
    </li>
    <li class="nav-item"  pTooltip="Tickets" *ngIf="enableSideBar('ticket')" >
      <a href="#" class="nav-link" routerLink="/ticket" routerLinkActive="active" aria-current="page">
        <fa-icon [icon]="['fas', 'ticket-alt']" style="size: 1.5rem;"></fa-icon>
      </a>
    </li>
    <li class="nav-item"  pTooltip="Users" *ngIf="enableSideBar('user')" >
      <a href="#" class="nav-link" routerLink="/user" routerLinkActive="active" aria-current="page">
        <fa-icon [icon]="['fas', 'ticket-alt']" style="size: 1.5rem;"></fa-icon>
      </a>
    </li>
  </ul>
</div>
