<div *ngIf="!isTicketExist">
    <p-messages [(value)]="ticketNotFoundMessage" [enableService]="false" [closable]="false"></p-messages>
</div>


<div *ngIf="IdOfItems" class="row">
    <div class="col">
        <h3 >Ticket ID: {{IdOfItems}}</h3>
    </div>
</div>


<p-toast position="bottom-center" key="bc"></p-toast>

<div style="overflow-y: auto; overflow-x: hidden; height:800px;">
<div [formGroup]="ticketForm" *ngIf="IdOfItems" class="row">
    <div class="col-md-7">
    <p-card styleClass="mt-3">
        <div class="mx-3">
        <div formGroupName="ticketInfoForm" >
        <div class="row">
            <div class="col-4">
                <b>Raised By</b>
                <p class="mt-1">
                    <input  class="w-100" type="text" pInputText formControlName="raisedBy"  />
                </p>
            </div>
            <div class="col-4">
                <b>Create Date</b>
                <p class="mt-1">
                    <input class="w-100" type="text" pInputText formControlName="raisedDate" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Product</b>
                <p class="mt-1">
                    <app-productdropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])" controlName="productId"></app-productdropdown>
                </p>
            </div>
            <div class="col-4">
                <b>Category</b>
                <p class="mt-1">
                    <app-categorydropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])" controlName="categoryId"></app-categorydropdown>
                </p>
            </div>
            <div class="col-4">
                <b>Assigned To</b>
                <p class="mt-1">
                    <app-assigneddropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])" controlName="assignedToId"></app-assigneddropdown>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Priority</b>
                <p class="mt-1">
                    <app-prioritydropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])" controlName="priorityId"></app-prioritydropdown>
                </p>
            </div>
            <div class="col-4">
                <b>Status</b>
                <p class="mt-1">
                    <app-statusdropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])" controlName="statusId"></app-statusdropdown>
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col12">
                <b>Summary</b>
                <p class="mt-1">
                    <input style="width: 100%;" type="text" pInputText formControlName="summary" />
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <b>Request Descriptions</b>
                <p class="mt-1">
                    <p-editor  formControlName="description" [readonly]="true" [style]="{ height: '200px' }"></p-editor>
                </p>
            </div>
        </div>
            <div class="row mt-4">
                <div class="col-12">
                    <b>Attachments</b>
                    <ul *ngFor="let attachment of attachments">
                        <li>
                            <a style="cursor: pointer;" (click)="downloadFile(attachment.filename)" [routerLink]="[]">{{attachment.filename}}</a>
                        </li>
                    </ul>
                    <p class="mt-1">
                        <p-fileUpload name="myfile[]" [multiple]="true"  [showUploadButton]="false" (onSelect)="dealWithFiles($event)">
                            <ng-template let-file pTemplate="file">
                                <li>{{ file.name }}</li>
                            </ng-template>
                        </p-fileUpload>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </p-card>   
    </div>
    <div class="col-md-5">
        <p-card styleClass="mt-3">
            <div class="mx-3">
                <div class="row">
                    <div class="col-4">
                        <b>Discussion</b>
                    </div>
                    <div class="col">
                        <p-button icon="pi pi-refresh" styleClass="p-button-rounded float-end"></p-button>
                    </div>
                </div>
                <div class="mt-4" style="height: 400px;display: block;background-color:blanchedalmond;">
                </div>
                <div class="mt-4" style="height: 50px;display: block;background-color:blanchedalmond;">
                </div>
            </div>
        </p-card>
        <div class="m-3">
            <p-button label="Save Changes" icon="pi pi-save" styleClass="p-button-success float-end"></p-button>
            <p-button routerLink="/ticket" label="Back to list" icon="pi pi-list" styleClass="p-button-secondary float-end mx-3"></p-button>
        </div>
    </div>
</div>

</div>
