.information-panel 
{
    border-left: 1px solid var(--linecolor);  
}

.title {
    color: var(--textcolor) !important;
}

.title .child {
    font-size: 0.9rem;
    color: var(--textcolor2) !important;
}

.filter {
    position: relative;
    background-color: var(--lightgreen);
    width: 100%;
  }
  
  .filter div {
    display: block;
    padding: 10px;
  }




.ticket-content {
    padding: 20px;
}

.reply {
    display: block;
    padding: 20px;
    background-color: var(--whitegrey);
    width: 100%;
    border-radius:5px ;
}