.information-panel 
{
    border-left: 1px solid var(--linecolor);  
}

.title {
    color: var(--textcolor) !important;
}

.title .child {
    font-size: 0.9rem;
    color: var(--textcolor2) !important;
}

.filter {
    position: relative;
    background-color: var(--lightgreen);
    width: 100%;
  }
  
  .filter div {
    display: block;
    padding: 10px;
  }





.attachment {
    border: 1px solid var(--linecolor);
    width: 300px;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: var(--black);
    border-radius: 5px;
}

.attachment .filename {
    font-size: 0.9rem;
    color: var(--textcolor) !important;
}

.attachment .size {
    font-size: 0.9rem;
    color: var(--textcolor2) !important;
}

.attachment:hover {
    color: var(--tosca) !important;
    border: 1px solid var(--tosca);
    transition: border-color 0.5s ease;
    transition: color 0.5s ease;
}

.ticket-content {
    padding: 20px;
}

.reply {
    display: block;
    padding: 20px;
    background-color: var(--whitegrey);
    width: 100%;
    border-radius:5px ;
}