<div *ngIf="!isTicketExist">
    <p-messages [(value)]="ticketNotFoundMessage" [enableService]="false" [closable]="false"></p-messages>
</div>

<div style="margin-left: 70px;">
    <div class="filter">
        <div>
            <p-button type="button" label="Close" iconPos="right" styleClass="p-button-default me-2">
                <ng-template pTemplate="buttonicon">
                    <fa-icon [icon]="['fas', 'check-circle']" style="size: 1.5rem;"> </fa-icon>
                    <span class="ms-2">
                        Close
                    </span>
                </ng-template>
            </p-button>
            
            <p-button type="button" label="Archive" iconPos="right" styleClass="p-button-default me-2">
                <ng-template pTemplate="buttonicon">
                    <fa-icon [icon]="['fas', 'archive']" style="size: 1.5rem;"> </fa-icon>
                    <span class="ms-2">
                        Archive
                    </span>
                </ng-template>
            </p-button>
        </div>
    </div>
    <div>
        <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
            <div class="row me-0" formGroupName="ticketInfoForm">
                <div class="col-10" style="max-height: 79vh;overflow-y: scroll;" >
                    <div class="mx-3 mt-3">
                        <div class="ticket-content">
                            <h5>
                               {{this.ticketForm.get('ticketInfoForm')?.get('summary')?.value}}
                            </h5>
                            <table>
                                <tr>
                                    <td rowspan="2">
                                        <div class="samplePhoto">
                                            sa
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title ms-3">
                                            {{this.ticketForm.get('ticketInfoForm')?.get('raisedBy')?.value}}
                                            <br>
                                            <span class="child">
                                                {{this.ticketForm.get('ticketInfoForm')?.get('raisedDate')?.value}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="title ms-3">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="mt-3" [innerHTML]="this.ticketForm.get('ticketInfoForm')?.get('description')?.value">
                            </div>
                            <div class="mt-3 row">
                                <div class="col-md-3" *ngFor="let attachment of attachments">
                                    <a [routerLink]="[]" class="text-decoration-none" style="cursor: pointer;" (click)="downloadFile(attachment.filename)">
                                        <div class="attachment">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="samplePhoto">
                                                            sa
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="ms-3">
                                                        <div class="filename">{{attachment.filename}}</div>
                                                        <div class="size">900 kb</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="IdOfItems">
                            <app-discussion-panel [ticketId]="IdOfItems"></app-discussion-panel>
                        </div>
                    </div>
                </div>
                <div class="col-2 information-panel">
                    <div class="row mt-4">
                        <input type="hidden"  formControlName="summary" />
                        <input type="hidden"  formControlName="description"/>

                        <div class="col-12">
                            <p-button type="submit" label="Update Ticket" icon="pi pi-save" iconPos="right"
                                styleClass="p-button-default w-100" style="width: 100%;"></p-button>
                        </div>

                        <div class="col-12 mt-3">
                            <p-button routerLink="/ticket" label="Back to list" icon="pi pi-list" iconPos="right"
                                styleClass="p-button-secondary w-100"></p-button>
                        </div>


                        <input type="hidden" formControlName="raisedBy" />
                        <input type="hidden" formControlName="raisedDate" />

                        <div class="col-12 mt-3">
                            <div class="title my-2">
                                Expected Date
                                <span *ngIf="isOverdue" class="badge bg-danger">
                                    OVERDUE
                                </span>
                            </div>
                            <input class="w-100" type="text" pInputText formControlName="expectedDate" />
                        </div>

                        <div class="col-12 mt-3">
                            <div class="title my-2">
                                Product
                            </div>
                            <app-productdropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])"
                                controlName="productId"></app-productdropdown>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="title my-2">
                                Category
                            </div>
                            <app-categorydropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])"
                                controlName="categoryId"></app-categorydropdown>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="title my-2">
                                Assigned To
                            </div>
                            <app-assigneddropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])"
                                controlName="assignedToId"></app-assigneddropdown>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="title my-2">
                                Priority
                            </div>
                            <app-prioritydropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])"
                                controlName="priorityId"></app-prioritydropdown>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="title my-2">
                                Status
                            </div>
                            <app-statusdropdown [formGroupParent]="ticketForm.get(['ticketInfoForm'])"
                                controlName="statusId"></app-statusdropdown>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<p-toast position="bottom-left" key="bc"></p-toast>

