
<p-toast></p-toast>
<!-- <div style="margin-left: 70px;" >
    <div class="container" *ngIf="userExist">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <input  type="text" pInputText formControlName="userId" />
            <input  type="text" pInputText formControlName="email" />
            <input  type="text" pInputText formControlName="name" />
            <input  type="text" pInputText formControlName="roleId" />

            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div> -->

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<div class="modal-header">
    <h4 class="modal-title pull-left">Edit User</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <input  type="hidden" formControlName="userId" />
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role Id</label>
            <app-dropdown [formGroupParent]="userForm" controlName="roleId" [data]="roleDropdownData" ></app-dropdown>
        </div>
  </div>
  <div class="modal-footer">
    <p-button type="submit" styleClass="p-button-default" class="ms-2 " label="Save User"></p-button>
    <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> -->
  </div>
</form>