

<p-toast ></p-toast>
<p-card styleClass="mt-3">
    <div class="mx-3">
        <div class="row mb-4">
            <div class="col-4">
                <b>Discussion</b>
            </div>
        </div>
        <div style="height: 400px;display: block;background-color:whitesmoke;overflow-y: auto;">
            <div *ngIf="discussions">
                <div class="chat-panel" *ngFor="let discussion of discussions">
                    <div class="chat-header">
                        <strong>{{discussion.userId}}</strong> <span style="font-size: .8rem;"> at {{discussion.dateSending | date: "dd MMMM yyyy HH:mm a"}}</span>
                    </div>
                    <div class="chat-body">
                        {{discussion.message}}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <textarea style="width: 100%;" rows="3" cols="30" [(ngModel)]="message" pInputTextarea></textarea>
            <div style="float:right;" class="mt-2">
                <p-button label="Send" (onClick)="submitMessage()" icon="pi pi-send" iconPos="right"></p-button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</p-card>