<p-card styleClass="mt-3">
    <div class="mx-3">
        <div class="row mb-4">
            <div class="col-4">
                <b>Discussion</b>
            </div>
        </div>
        <div style="height: 400px;display: block;background-color:whitesmoke;overflow-y: auto;">
            <div class="chat-panel">
                <div class="chat-header">
                    <strong>Alvin maulana</strong> <span style="font-size: .8rem;"> at 23:30 PM</span>
                </div>
                <div class="chat-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                </div>
            </div>
            <div class="chat-panel">
                <div class="chat-header">
                    <strong>Alvin maulana</strong> <span style="font-size: .8rem;"> at 23:30 PM</span>
                </div>
                <div class="chat-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                </div>
            </div>
            <div class="chat-panel">
                <div class="chat-header">
                    <strong>Alvin maulana</strong> <span style="font-size: .8rem;"> at 23:30 PM</span>
                </div>
                <div class="chat-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                </div>
            </div>
            <div class="chat-panel">
                <div class="chat-header">
                    <strong>Alvin maulana</strong> <span style="font-size: .8rem;"> at 23:30 PM</span>
                </div>
                <div class="chat-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                </div>
            </div>
            <div class="chat-panel">
                <div class="chat-header">
                    <strong>Alvin maulana</strong> <span style="font-size: .8rem;"> at 23:30 PM</span>
                </div>
                <div class="chat-body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                </div>
            </div>


        </div>
        <div class="mt-4">
            <textarea style="width: 100%;" rows="3" cols="30" pInputTextarea></textarea>
            <div style="float:right;" class="mt-2">
                <p-button label="Send" icon="pi pi-send" iconPos="right"></p-button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</p-card>