<p-card styleClass="mt-3">
    <div class="mx-3">
        <div class="row">
            <div class="col-4">
                <b>Discussion</b>
            </div>
            <div class="col">
                <p-button icon="pi pi-refresh" styleClass="p-button-rounded float-end"></p-button>
            </div>
        </div>
        <div class="mt-4" style="height: 400px;display: block;background-color:blanchedalmond;">
        </div>
        <div class="mt-4" style="height: 50px;display: block;background-color:blanchedalmond;">
        </div>
    </div>
</p-card>