
.dashboard-status {
    border: 1px solid var(--linecolor);
    text-decoration: none;
    color: var(--black);
    border-radius: 5px;
}

.dashboard-status .header {
    padding: 12px;
    border: 1px solid var(--linecolor);
}

.dashboard-status .body {
    padding: 12px;
}