<main>
    <app-sidebar></app-sidebar>

    <div class="container-fluid p-0">
        <div class="topnav" style="vertical-align: center;position: fixed;">
            <div class="navtitle" style="margin-left: 72px;">
                {{pageTitle}}
            </div>
            <div class="navuseroptions">
                <div class="dropdown">
                    <button #toggleButton id="drop" (click)="showUserInfo()" class="dropbtn" 
                    style="
                        border:1px solid;
                        background: url('{{imagePath}}')"
                    > </button>
                    <div id="myDropdown" [ngClass]="isMenuOpen ? 'dropdown-content show' : 'dropdown-content' ">
                        <div class="media media-element">
                            <div class="media-head me-2 ms-2">
                                <div class="avatar">
                                    <img class="media-element profile-image"  src="{{imagePath}}" >
                                </div>
                            </div>
                            <div class="media-body  mt-2  me-2">
                                <div class="media-element" style="font-size: 0.9rem;">
                                    {{ this.currentUser.getUser()?.name }}
                                </div>
                                <div class="media-element" style="font-size: 0.75rem;color: var(--textcolor2);">
                                    {{ this.currentUser.getUser()?.email }}
                                </div>
                                <a  class="media-element media-sign-out p-0" href="javascript:void(0)" (click)="accountService.logout()" >
                                    <span>
                                        Sign Out
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3" 
        style="
            margin: 0 !important;
            padding-top: 70px;
            padding-bottom: 50px;
            "
        >
            <router-outlet></router-outlet>
        </div>
    </div>
</main>