<main>
    <app-sidebar></app-sidebar>
    <div class="myNav">
        <div class="topnav">
            <p-button routerLink="/ticket/add" class="left-navitem" label="Create Ticket"  styleClass="p-button-outlined p-button-secondary m-3" icon="pi pi-send"></p-button>
            <p-button class="right-navitem" (onClick)="accountService.logout()" label="Logout"  styleClass="p-button-outlined p-button-secondary m-3" ></p-button>
        </div>
        <div class="m-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
  