/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "primeicons/primeicons.css";


@import "@fontsource/dm-sans"; // Defaults to weight 400
@import "@fontsource/dm-sans/400.css"; // Specify weight
@import "@fontsource/dm-sans/400-italic.css"; // Specify weight and style

  // body {
  //   min-height: 100vh;
  //   min-height: -webkit-fill-available;
  // }
  


  .p-button-status {
    padding: 2px 6px !important;
  }
  
.panel {
  display: block;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
  

//New CSS
:root {
  --tosca: #007D88;
  --green: #25CBA1;
  --lightgreen: #D9ECED;
  --blue: #298DFF;
  --yellow: #ffc400;
  --red: #ff0000;
  --black: #262a2e;
  --orange: #ff9100;
  --pink: #e92990;
  --purple: #7429f8;
  --lightblue: #18ddef;
  --whitesmoke: #f2f2f2;
  --linecolor: #eaeaea;
  --textcolor2: #6f6f6f;
}

html {
  height: -webkit-fill-available;
  font-size: 16px;
  font-weight: 400;
  color: #262a2e;
}

html, body, main {
  font-family: "DM Sans";
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  // background-color: #ECF0F6;
}

.bg-white {
  background-color: var(--linecolor);
}

.title {
  font-size: 1rem;
  color: var(--textcolor2);
}