/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "primeicons/primeicons.css";

:root {
    --darkblue: #162029;
    --lightblue: #1A8FDD;
    --red: #C0392B;
    --white: #ffffff;
  }
  
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
    font-size: 14px;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #ECF0F6;
  }

  .p-button-status {
    padding: 2px 6px !important;
  }
  
.panel {
  display: block;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
  