<div style="margin-left: 70px;" >
    <div class="filter" >
        <div>
            <table>
                <tr>
                    <td>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" [(ngModel)]="summary" pInputText />
                        </span>
                    </td>
                    <td>
                        <p-multiSelect [style]="{'width':'160px'}" defaultLabel="Product" [(ngModel)]="selectedproducts"
                            [options]="products" [filter]="false" optionValue="productId"
                            optionLabel="productName"></p-multiSelect>
                    </td>
                    <td>
                        <p-multiSelect [style]="{'width':'160px'}" defaultLabel="Category"
                            [(ngModel)]="selectedcategories" [options]="categories" [filter]="false"
                            optionValue="categoryId" optionLabel="categoryName"></p-multiSelect>
                    </td>
                    <td>
                        <p-multiSelect [style]="{'width':'160px'}" defaultLabel="Priority"
                            [(ngModel)]="selectedpriorities" [options]="priorities" [filter]="false"
                            optionValue="priorityId" optionLabel="priorityName"></p-multiSelect>
                    </td>
                    <td>
                        <p-multiSelect [style]="{'width':'160px'}" defaultLabel="Status" [(ngModel)]="selectedstatuses"
                            [options]="statuses" [filter]="false" optionValue="statusId"
                            optionLabel="name"></p-multiSelect>
                    </td>
                    <td>
                        <p-multiSelect [style]="{'width':'160px'}" defaultLabel="Raised By"
                            [(ngModel)]="selectedraisedBy" [options]="raisedBy" [filter]="false" optionValue="userId"
                            optionLabel="name"></p-multiSelect>
                    </td>
                    <td>
                        <p-button (onClick)="onFilterPressed()" styleClass="p-button-default" class="ms-2 " label="Show"></p-button>
                        <p-button (onClick)="resetSelection()" styleClass="p-button-secondary" class="ms-2"
                            label="Reset"></p-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="table-content">
        <!-- <p-table [value]="tickets" selectionMode="single" [(selection)]="selectedticket" dataKey="ticketId"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ticket</th>
                    <th>Summary</th>
                    <th>Project</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Raised Date</th>
                    <th>Raised By</th>
                    <th>Expected Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
                <tr [pSelectableRow]="ticket">
                    <td>{{ticket.ticketIdView}}</td>
                    <td>{{ ticket.summary }}</td>
                    <td>{{ ticket.product }}</td>
                    <td>{{ ticket.category }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td [ngClass]="{'expired': ticket.isExpired === true}">{{ ticket.status }}</td>
                    <td>{{ ticket.raisedDate | date }}</td>
                    <td>{{ ticket.raisedBy }}</td>
                    <td>{{ ticket.expectedDate | date}}</td>
                </tr>
            </ng-template>
        </p-table> -->

        <p-table
    [value]="tickets"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"

    selectionMode="single" [(selection)]="selectedticket" dataKey="ticketId"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Ticket</th>
            <th>Summary</th>
            <th>Project</th>
            <th>Category</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Raised Date</th>
            <th>Raised By</th>
            <th>Expected Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ticket>
        <tr [pSelectableRow]="ticket">
            <td>{{ticket.ticketIdView}}</td>
            <td>{{ ticket.summary }}</td>
            <td>{{ ticket.product }}</td>
            <td>{{ ticket.category }}</td>
            <td>{{ ticket.priority }}</td>
            <td [ngClass]="{'expired': ticket.isExpired === true}">{{ ticket.status }}</td>
            <td>{{ ticket.raisedDate | date }}</td>
            <td>{{ ticket.raisedBy }}</td>
            <td>{{ ticket.expectedDate | date}}</td>
        </tr>
    </ng-template>
</p-table>
    </div>
</div>
<p-toast></p-toast>

<a href="ticket/add" class="float">
    <i class="pi pi-plus my-float"></i>
</a>



