.counter-panel {
    background-color: white;
    border-radius: 10px;
    width: 180px;height: 75px;
    // display: block; width: 180px;height: 75px;background-color: white;border-radius: 10px;
}

.counter-panel-body {
    display: flex; 
    justify-content: start;
    align-items:center;
    height: 100%;
    padding-left: 10px;
}

.counter-panel-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.counter-panel-icon {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* Set the desired spacing between flex items */
}

.counter-panel-icon div {
    display: flex; 
    justify-content: start;
    align-items:center;
    height: 100%;
    padding-left: 13px;
}