.dashboard-status {
    border: 1px solid var(--linecolor);
    padding: 20px;
    text-decoration: none;
    color: var(--black);
    border-radius: 5px;
}

.dashboard-status .title {
    font-size: 1rem;
    color: var(--textcolor2);
}

.dashboard-status .counter {
    font-size: 1.5rem;
    font-weight: 400;
}