   
        <div class="flex-container">
   <div class="counter-panel">
        <div class="counter-panel-body">
            <div class="counter-panel-icon" style="background-color: #BDC3C7;">
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <div>
                        <span class="counter-panel-text">New <br><span style="font-size: 24px;">{{new}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="counter-panel">
        <div class="counter-panel-body">
            <div class="counter-panel-icon" style="background-color: #2ECC71;">
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <div>
                        <span class="counter-panel-text">Open <br><span style="font-size: 24px;">{{open}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="counter-panel">
        <div class="counter-panel-body">
            <div class="counter-panel-icon" style="background-color: #C0392B;">
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <div>
                        <span class="counter-panel-text">Closed <br><span style="font-size: 24px;">{{closed}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="counter-panel">
        <div class="counter-panel-body">
            <div class="counter-panel-icon" style="background-color: #F39C12;">
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <div>
                        <span class="counter-panel-text">Total <br><span style="font-size: 24px;">{{total}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>