   
<div class="container-fluid">
    <div class="row">
        <a href="google.com" class="col m-2 dashboard-status">
            <div class="title">New</div>
            <div class="counter">{{new}}</div>
        </a>
        <a href="google.com" class="col m-2 dashboard-status">
            <div class="title">Open</div>
            <div class="counter">{{open}}</div>
        </a>
        <a href="google.com" class="col m-2 dashboard-status">
            <div class="title">Overdue</div>
            <div class="counter">{{closed}}</div>
        </a>
        <a href="google.com" class="col m-2 dashboard-status">
            <div class="title">Due Today</div>
            <div class="counter">{{closed}}</div>
        </a>
        <a href="google.com" class="col m-2 dashboard-status">
            <div class="title">This Month</div>
            <div class="counter">{{total}}</div>
        </a>
    </div>
</div>
